@font-face {
    font-family: 'Junction Regular';
    src: url('../assets/fontes/junction/junction-regular.woff');
}
@font-face {
    font-family: 'Junction Bold';
    src: url('../assets/fontes/junction/junction-bold.woff');
}
@font-face {
    font-family: 'Poppins Regular';
    src: url('../assets/fontes/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Black';
    src: url('../assets/fontes/Poppins/Poppins-Black.ttf');
}

:root {
    /* Neutros */
    --white              : hsl(210, 20%, 97%);
    --light-gray         : hsl(0, 0%, 78%);
    --dark-gray          : hsl(240, 2%, 20%);
    --black              : hsl(240, 100%, 0.5%);

    /* Destaque */
    --accent-blue        : hsl(228, 38%, 56%);
    --accent-blue-tint   : hsl(228, 38%, 75%);
    --accent-blue-shade  : hsl(228, 38%, 35%);
  
    --accent-pink        : hsl(340, 100%, 56%);
    --accent-pink-tint   : hsl(340, 100%, 75%);
    --accent-pink-shade  : hsl(340, 100%, 38%);
  
    --accent-purple      : hsl(297, 100%, 60%);
    --accent-purple-tint : hsl(297, 100%, 78%);
    --accent-purple-shade: hsl(297, 100%, 40%);
  
    --accent-deep        : hsl(274, 82%, 54%);
    --accent-deep-tint   : hsl(274, 82%, 73%);
    --accent-deep-shade  : hsl(274, 82%, 34%);

    --fonte-principal    : 'Poppins Regular';
    --fonte-destaque     : 'Junction Bold';
    --fonte-destaque2    : 'Poppins Black';
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-destaque2);
    color: var(--black);
}
input,
button {
    font-family: var(--fonte-destaque);
}
ul{
    list-style: none;
}